PasswordAuthentication {{ baseline_ssh_password_auth }}
PermitRootLogin {{ baseline_ssh_permit_root_login }}
PubkeyAuthentication yes
KbdInteractiveAuthentication no
ChallengeResponseAuthentication no
